.heading{
    color: crimson;
}
/* This is example of  element selector  */
div{
    background-color: crimson;
    color: white;
    font-weight: bold;
}
/* this is class selctor example  */
.percent{
    height: 50px;
    width: 80vh;
    background-color: black;
}
.child-percent{
    width: 50%;
    background-color: red;
}
#id-selector{
    color:black;

}

/* Three type of selector 
1- id selctor  (use # to select id)
2- class selector (use . to select class)
3- element selector (write tag name to select tags ) 
 */